<div class="container">
  <!-- <mat-tab-group> -->
    <!-- <mat-tab label="Trips"> -->
      <div id = "header">
       Travel App        
      </div>
      <!-- Prep for image :) -->
      <img src='assets/banner.jpg' />
      <div>
        
          <div class = "newTrip" id = "firstName">
            <div class="menuButton" (click)="dispalyAddNewTripView()" ><b>Add New Trip</b></div>
            <div class="menuButton" (click)="dispalyTripDetailsView()" ><b>View Trips</b></div>
          </div>
          <!-- Display add Trip -->
          <div *ngIf="dispalyAddTrip">
              <div class = "newTrip" id = "title">
                  <label class = "label">Title</label>
                  <input [(ngModel)]="newTrip.title" type = "text" placeholder="Enter title here">
              </div>
              <div class = "newTrip" id = "country">
                  <label class = "label">Country</label>
                  <input [(ngModel)]="newTrip.country" type = "text" placeholder="Enter country here">  
              </div>
              <div class = "newTrip" id = "location">
                  <label class = "label">Location</label>
                  <input [(ngModel)]="newTrip.location" type = "text" placeholder="Enter location here">  
              </div>
              <div class = "newTrip" id = "dates">
                  <label class = "label">Dates</label>
                  <input [(ngModel)]="newTrip.startDate" type = "date" placeholder="Enter start date here">  
                  <input [(ngModel)]="newTrip.endDate" type = "date" placeholder="Enter end date here">  
              </div>
              <button mat-raised-button color= "green" (click)="addTrip()">Save</button>
          </div>
            <!-- Dispaly Trip Details -->
          <div *ngIf="!dispalyAddTrip">
            <div>
              existing trips: {{tripService.trips.length}}
            </div>
            <!-- <div class = "tripDetailsFrame" *ngFor="let trip of tripService.trips"> -->
            <div class = "trip" *ngFor="let trip of tripService.trips">
            
              <!-- <div class="trip"> -->
                <div class="row">
                    <div class="tripSubject">Trip tilte: </div>
                    <div class="tripValue" >{{trip.title}}</div>
                </div>
                
                <div class="row">
                  <div class="tripSubject" >Trip country: </div>
                  <div class="tripValue" >{{trip.country}}</div>
                </div>
              
                <div class="row">
                    <div class="tripSubject" >Trip location : </div>
                    <div class="tripValue" >{{trip.location}}</div>
                </div>

                <div class="row">
                    <div class="tripSubject" >Trip start date  : </div>
                    <div class="tripValue" >{{trip.startDate}}</div>
                </div>
              
                <div class="row">
                    <div class="tripSubject" >Trip end date  : </div>
                    <div class="tripValue" >{{trip.endDate}}</div>
                </div>
                <div class="row">
                    <div class="deleteTrip" (click)="deleteTrip(trip)" ><b>Delete Trip</b></div>
                </div>
            </div>
  
          </div>
          
      
      </div>
      <div id = "footer">
      
      </div>
    
    <!-- </mat-tab> -->
    <!-- <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab> -->
  <!-- </mat-tab-group> -->
</div>
