.container {
	width:800px;
	margin: auto;
}

#header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
	color: white;
	
}

#footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
.menuButton{
	width: 120px;
	height:20px;
	padding:5px;
	border:1px solid gray;
	float:right;
	margin-top:10px;
	margin-right:20px;
	text-align:center;
	font-weight: 800;
}

 .tripDetailsFrame{
	background-color: rgba(0, 102, 255, 0.295);
	border-block-end: #777;
	border: dashed 2px grey;
	margin-top: 5px;
	/* float: left; */
	height: auto;

} 

.trip{
    width: 450px;
    margin: auto;
    height: auto;
    padding: 5px;
	/* border: 1px solid rgb(68, 47, 255); */
	background-color: rgba(0, 255, 34, 0.096);
    margin-bottom: 15px;
}

.row{
	width: 450px;
    /* margin: auto; */
    height: auto;
    padding: 5px;
    /* border: 1px solid rgb(255, 47, 47); */
    margin-bottom: 15px;

}


.tripSubject{
	display: inline-block;
	margin-left: 10px;
    width: 200px;
	height: 35;  
	
	/* border: 1px solid rgb(255, 47, 186); */
	background-color: rgb(225, 216, 214);
	padding: 5px;
}

.tripValue{
	display: inline-block;
	margin-left: 10px;
    width: 200px;
	margin-left: 5px; 
	/* border: 1px solid rgb(255, 47, 186); */
	background-color: rgb(225, 216, 214);
	padding: 5px;

}

.deleteTrip{
	/* display: inline-block; */
	float:right;
	color:black;
	background-color: red;
	margin-right: 15px;
}

.label {
	background-color: rgba(0, 255, 34, 0.096);
	font: normal 30px courier !important;
	float: left;
	width: 200px;
	margin-right: 5px;
	display: block;
	/* display: flex;  */
	height: 48px;

}

.newTrip{
	height: 50px;
	border: 0.5px solid black;
}

input{
	width: 290px;
	height: 42px;
}

input[type=date]{
	width: 290px;
}


.mat-raised-button {
    background-color: gray;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

